<!DOCTYPE html>
<html>
<head lang="zH_CN">
    <meta charset="UTF-8">
    <title>Login Page | Amaze UI Example</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css">

    <style>
        .header {
            text-align: center;
        }

        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }

        .header p {
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="am-g">
        <h1>后台登录</h1>
    </div>
    <hr/>
</div>
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <h3>登录</h3>
        <br>
        <form name="f" action="/admin/login" method="POST"  class="am-form">
            <div class="am-form-group">

                <label for="email">邮箱:</label>
                <input type="email" name="username" id="username" value="">
            </div>
            <br>
            <div class="am-form-group">
                <label for="password">密码:</label>
                <input type="password" name="password" id="password" value="">
                <input type="hidden"  name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </div>
            <div class="am-form-group">
                <div class="am-u-sm-8 am-animation-slide-right">
                    <input type="text" onblur="check()" name="captcha" id="yanzhengma" class="am-form-field" placeholder="输入验证码">
                    <span class=""></span>
                </div>
                <div class="am-u-sm-4 am-animation-slide-left">
                    <img src="/hc/kaptch" id="yzm" name="captcha" onclick="getYanzhengma()"
                         class="am-img-thumbnail">
                </div>
            </div>
            <div class="am-form-group">
                <div class="am-u-sm-12 am-animation-slide-left">
                    <input type="submit"  value="登 录" class="am-btn am-btn-primary">
                    <input type="reset" value="重置 " class="am-btn am-btn-default">
                    <div class="am-u-sm-4 am-animation-slide-left">
                    </div>
        </form>
       <h1>错误${SPRING_SECURITY_LAST_EXCEPTION.message}</h1>

        <hr>

    </div>
</div>
</body>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
<script type="text/javascript">
    function getYanzhengma() {
        $("#yzm").attr("src", "/hc/kaptch");
    }
    function check() {
        var code = $("#yanzhengma").val();
        $.ajax({
            url: "/hc/kaptch/check",
            dataType: "JSON",
            method: "POST",
            data: {'code': code,${_csrf.parameterName}:'${_csrf.token}'},
        success: function (data) {
            if (data == "1") {
                $("#yanzhengma").parent().removeClass("am-form-error am-form-icon am-form-feedback");
                $("#yanzhengma").next().removeClass("am-icon-times");
                $("#yanzhengma").parent().addClass("am-form-success am-form-icon am-form-feedback");
                $("#yanzhengma").next().addClass("am-icon-check");
            } else {
                $("#yanzhengma").parent().removeClass("am-form-success am-form-icon am-form-feedback");
                $("#yanzhengma").next().removeClass("am-icon-check");
                $("#yanzhengma").parent().addClass("am-form-error am-form-icon am-form-feedback");
                $("#yanzhengma").next().addClass("am-icon-times");
            }
        }
    ,
        error: function (err) {
            $("#yanzhengma").next().attr("value", "系统错误");
        }
    })
        ;
    }

</script>
</html>
