<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Login Page | Amaze UI Example</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/plugin/layerweb/skin/layer.css"/>
    <style>
        .header {
            text-align: center;
        }

        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }

        .header p {
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="am-g">
        <h1>安家无忧社区服务提供商</h1>
        <p>51homefun.com<br/>你的ip已被记录</p>
    </div>
    <hr/>
</div>
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <h3>登录</h3>
        <hr>
        <br>

        <form class="am-form">
            <div class="am-form-group">
                <label for="email">用户名:</label>
                <input type="email" name="userName" required id="userName" placeholder="输入登录邮箱"/>
            </div>
            <div class="am-form-group">
                <label for="password">密码:</label>
                <input type="password" required name="userPwd" placeholder="输入用户密码" id="userPwd"/>
            </div>
            <div class="am-form-group am-u-sm-12">
                <div class="am-u-sm-8 am-animation-slide-right">
                    <input type="text" onblur="check()" id="yanzhengma" class="am-form-field" placeholder="输入验证码">
                    <span class=""></span>
                </div>
                <div class="am-u-sm-4 am-animation-slide-left">
                    <img src="/hc/kaptch" id="yzm" name="yanzhengma" onclick="getYanzhengma()"
                         class="am-img-thumbnail"/>
                </div>
            </div>
            <div class="am-cf">
                <input type="submit" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
                <input type="submit" value="忘记密码 ^_^? " class="am-btn am-btn-default am-btn-sm am-fr">
            </div>
        </form>
        <hr>
        <p>© 2016 51homefun.com</p>
    </div>
</div>
</body>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
<script src="/js/jm.js"></script>
<script src="/plugin/layerweb/layer.js"></script>
<script type="text/javascript">
    $("form").submit(function () {
        var name = $("#userName").val();
        var pwd = $("#userPwd").val();
        if (name == null || pwd == null) {
            layer.msg('用户或密码不能为空');
            return false;
        }
        var yanzhengma=$("#yanzhengma").val();
        if(yanzhengma==null){
            layer.msg('验证码不能为空');
            return false;

        }
        console.log(name + pwd);
        console.log(hex_md5($("#userPwd").val()));
        $("#userPwd").val(hex_md5($("#userPwd").val()));
        $.ajax({
            url: "/admin/manager",
            dataType: "JSON",
            method:"POST",
            data: {code: $("#yanzhengma").val(), userName: name, userPwd: pwd},
            success: function (data) {

            },
            error: function (err) {
                console.log(err);

                layer.alert(err['responseJSON'].errMsg, {
                    icon: 2,
                    skin: 'layer-ext-moon' //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
                })
            }
        });
        return false;
    });
    function getYanzhengma() {
        $("#yzm").attr("src", "/hc/kaptch");
    }
    function check() {
        var code = $("#yanzhengma").val();
        $.ajax({
            url: "/hc/kaptch/check",
            dataType: "JSON",
            method: "POST",
            data: {'code': code},
            success: function (data) {
                if (data == "1") {
                    $("#yanzhengma").parent().removeClass("am-form-error am-form-icon am-form-feedback");
                    $("#yanzhengma").next().removeClass("am-icon-times");
                    $("#yanzhengma").parent().addClass("am-form-success am-form-icon am-form-feedback");
                    $("#yanzhengma").next().addClass("am-icon-check");
                } else {
                    $("#yanzhengma").parent().removeClass("am-form-success am-form-icon am-form-feedback");
                    $("#yanzhengma").next().removeClass("am-icon-check");
                    $("#yanzhengma").parent().addClass("am-form-error am-form-icon am-form-feedback");
                    $("#yanzhengma").next().addClass("am-icon-times");
                }
            },
            error: function (err) {
                $("#yanzhengma").next().attr("value", "系统错误");

            }
        });
    }

</script>
</html>
