<!doctype html>
<html class="fixed-layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/plugin/layerweb/skin/layer.css">
    <link rel="stylesheet" href="/plugin/bootstraptable/bootstrap-table.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>

<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <strong>安家无忧</strong>
        <small>后台管理模板</small>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span
                    class="am-badge am-badge-warning">5</span></a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span
                    class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
        </ul>
    </div>
</header>

<div class="am-cf admin-main">
    <!-- sidebar start -->
    #include("/admin/sideTemplate.vm")
    <!-- sidebar end -->
## Jqgrid 开始
    #if(!${myTemplate})
    <div class=" admin-content">

        <div class="am-panel am-panel-success">
            <div id="toolbar">
                <select class="form-control">
                    <option value="basic">导出本页</option>
                    <option value="all">导出全部</option>
                    <option value="selected">导出选中</option>
                </select>
            </div>
            <div class="am-panel-bd">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseOne">
                                    订单查询
                                </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">

                            <div class="panel-body">
                                <form id="formSearch" class="form-horizontal">
                                    <div class="form-group" style="margin-top:15px">
                                        <label class="control-label col-sm-1"
                                               for="txt_search_departmentname">查询条件</label>
                                        <div class="col-sm-2">
                                            <select id="selectCon" class="form-control">
                                                <option value="0">选择查询条件</option>
                                                <option value="1">卡券号</option>
                                                <option value="2">用户名</option>
                                                <option value="3">联系方式</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2"><input id="params" name="params" class="form-control"
                                                                     placeholder="输入查询内容"
                                                                     type="text"/></div>
                                        <label class="control-label col-sm-1" for="txt_search_statu">时间</label>
                                        <div class="col-sm-3">
                                            <div class="input-daterange input-group" id="datepicker">
                                                <input type="text" id="startTime" class="form-control" name="startTime"
                                                       placeholder="选择开始时间"/>
                                                <span class="input-group-addon">到</span>
                                                <input type="text" class=" form-control" id="endTime" name="endTime"
                                                       placeholder="选择结束时间"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <select id="userTypeId" class="btn btn-default">
                                                <option value="-1">只看状态</option>
                                                <option value="0">待审核</option>
                                                <option value="1">审核通过</option>
                                                <option value="2">订单取消</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2" style="text-align:left;">
                                            <div class="row">
                                                <button type="button" style="margin-left:50px" id="btn_query"
                                                        class="btn btn-primary"
                                                        onclick="searchTable()">查询
                                                </button>
                                                <input type="reset" class="btn btn-danger" value="重置"/>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <table id="table">
                    </table>


                </div>
            </div>

        </div>
    #end
    #if(${myTemplate})
        #parse(${myTemplate})
    #end


## JqGrid 结束

    <!-- content start -->
    <footer class="admin-content-footer">
        <hr>
        <p class="am-padding-left">© 2016 AllMobilize, Inc. Licensed under MIT license.</p>
    </footer>
    <!-- content end -->

</div>

    <a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu"
       data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
</body>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/js/jquery-2.1.1.min.js"></script>
<!--<![endif]-->

<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="/plugin/bootstraptable/bootstrap-table.min.js"></script>
<script src="/plugin/bootstraptable/bootstrap-table-export.js" charset="utf-8"></script>
<script src="/plugin/bootstraptable/tableExport.js"></script>

<!-- Latest compiled and minified Locales -->
<script src="/plugin/bootstraptable/bootstrap-table-zh-CN.min.js"></script>

<script src="/js/amazeui.min.js"></script>
<script src="/plugin/layerweb/layer.js"></script>
<script src="/plugin/datapicker/bootstrap-datepicker.min.js"></script>
<script src="/plugin/datapicker/bootstrap-datepicker.zh-CN.min.js"></script>

<script type="text/javascript">

    var $table =
    $('#table');
    $('#datepicker').datepicker({
        language: "zh-CN",
        format: 'yyyy-mm-dd'
    });

    $(function () {
        function detailFormatter(value, row, index) {
            var detail = "<input type='button' class='btn btn-success' onclick='serviceDetail(" + "\"" + row.userId + "\"" + ")'  value='服务详情'/> "

            return detail;
        }

        $('#table').bootstrapTable({
            url: '/admin/cus/list',
            dataField: "rows",
            columns: [
                {
                    field: 'state',
                    checkbox: true,
                    align: 'center',
                    valign: 'middle'
                },
                {
                    field: 'cardNum',
                    title: '卡券号',
                },
                {
                    field: 'userName',
                    title: '用户名',
                }, {
                    field: 'userPhone',
                    title: '联系方式',
                }, {
                    field: 'userAddress',
                    title: '送货地址',
                }, {
                    field: 'userOrder',
                    title: '订单状态',
                }, {
                    field: 'userTime',
                    title: '下单时间',
                }

            ],
            pagination: true,//显示分页
            showRefresh: true,//显示刷新按钮
            showColumns: true,//显示勾选列显示按钮
            striped: true,  //表格显示条纹
            detailView: true,
            pageList: [10, 25, 50, 100, 'ALL'],
            showPaginationSwitch: true,
            minimumCountColumns: 2,
            cache: false,
            switchable: true,
            showExport: true,
            idField: 'id',
            uniqueId: "id",
            sidePagination: "server",
            exportDataType: "basic",
            toolbar: "#exampleTableEventsToolbar",//工具按钮用哪个容器
            detailFormatter: detailFormatter,
            rowStyle: function (row, index) {
                var classes = ['active', 'success', 'info', 'warning', 'danger'];
                var res = index % 4;
                return {
                    classes: classes[res]
                };
            }

        });
    });
    function serviceDetail(id) {
    }
    function searchTable() {
        console.log("点击搜索");
        if ($("#selectCon").val() == "0" && $("#params").val() != "") {
            layer.tips("选我选我", "#selectCon");
            layer.alert("请选择查询条件");
            return false;
        }
        var dataUrl = "/admin/cus/list"
        /**
         * 重构查询怎么会这么傻的查询啊啊啊啊
         */
        $('#table').bootstrapTable('refresh', {
            url: dataUrl,
            query: {startTime: $("#startTime").val(),
                startTime: $("startTime").val(),
                params:$("#params").val(),
                searchCondition:$("#selectCon").val(),
                userTypeId:$("#userTypeId").val()
            }
        });
    }

</script>

<link rel="stylesheet" href="/plugin/datapicker/bootstrap-datepicker.css">

</html>
