<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>反馈</title>
</head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport"
      content="width=device-width, initial-scale=1">
<!-- Set render engine for 360 browser -->
<meta name="renderer" content="webkit">

<!-- No Baidu Siteapp-->
<meta http-equiv="Cache-Control" content="no-siteapp"/>

<meta name="renderer" content="webkit">
<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="51homefun"/>
<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileColor" content="#0e90d2">
<link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css">
<link rel="stylesheet" href="/plugin/layer/need/layer.css">
<style type="text/css">
    .am-panel {
        margin-top: 20px;
    }
</style>
<body>
<header data-am-widget="header"
        class="am-header am-header-default">
    <div class="am-header-left am-header-nav">
        <a href="../../" class="">
            <i class="am-header-icon am-icon-home"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        <a href="#title-link">
            <p class="am-animation-scale-up">反馈信息</p>
        </a>
    </h1>
</header>
<div class="am-u-sm-12">
    <div class="am-panel am-panel-success am-animation-slide-bottom">
        <div class="am-panel-hd">安家无忧社区服务平台</div>
        <div class="am-panel-bd" style="text-align: center">
            <form class="form-horizontal">
                <div class="am-form-group">
                    <input type="text" class="am-form-field" placeholder="输入卡券号" name="cardNum"/>
                </div>
                <div class="am-form-group">
                    <textarea maxlength="200" rows="3" class="am-form-field" id="userFb"></textarea>
                </div>
                <div class="am-form-group">
                    <button class="am-btn am-btn-success" id="submiCardNum">提交</button>
                    <input type="reset" class="am-btn am-btn-danger"/>
                </div class="am-form-group">
            </form>
        </div>
    </div>
    <div id="mainPage" style="background-color: #0084c7;height: 5px"></div>
    <div class="am-panel am-panel-success am-animation-slide-bottom">
        <div class="am-panel-hd">温馨提醒</div>
        <div class="am-panel-bd" style="text-align: center">
            <p class="am-kai">首先感谢您的反馈,对于给您造成的不便,我们会尽力做到最好,为了保证您的反馈即使回复,建议您拨打<a href="tel:400-823-0592" >400-823-0592</a>进行进一步阐述。</p>
        </div>
    </div>
</div>
</body>
<script src="/plugin/layer/layer.js"></script>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<!--<![endif]-->


<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="/js/wx.js"></script>
<script type="text/javascript">
    $("#submiCardNum").click(function () {
        var cardNumField = $("input[name='cardNum']").val();
        var userFbField = $("#userFb").val();
        console.log(cardNumField + userFbField);
        if (cardNumField == null || cardNumField == "" || cardNumField == undefined || userFbField == null || userFbField == "" || userFbField == undefined) {
            layer.open({
                content: '反馈信息或卡券号不能为空',
                btn: ['哦哦哦']
            });
            return false;
        }
        else {
            var index = layer.open({type: 2, content: '努力反馈中...', shadeClose: false});

            $.ajax({
                url: "/hc/feedback/sub",
                dataType: "JSON",
                data: {cardNum: cardNumField, userFb: userFbField,${_csrf.parameterName}:'${_csrf.token}'},
                success: function (data) {
                    layer.close(index);
                    if (data) {
                        layer.open({
                            content: '您的信息已经成功反馈',
                            btn: ['朕知道了']
                        });
                    }
                },
                error: function (err) {
                    layer.close(index);
                    layer.open({
                        title: [
                            '提醒',
                            'background-color: #FF4351; color:#fff;'
                        ]
                        , content: err['responseJSON'].errMsg
                    });
                }
            });
            return false;
        }
    });
</script>
</html>